body{
	color: #fff;
	font-family: 'Open Sans Condensed', Arial ,"sans-serif";
	padding-top: 75px;
	background: #000;
}

.navbar{
	background: #0b0b0b;
	border-color: #0b0b0b;
	border-radius: 0;
	padding: 12px 10px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #E3B505;
}
.navbar .brand{
	color: #fff;
    font-size: 30px;
    font-weight: 700;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-size: 20px;
}
.btn:focus, .btn:active:focus, .btn.active:focus, a:focus, a:hover{
	outline: none;
	outline-offset : 0;
}
/* .navbar-inverse .navbar-nav > .active > a{
	color:  #f2d138;
} */
h3{
	font-size: 40px;
    font-weight: 700;
}
.about{
	color: #07ad87;
}

.cbp-af-header-shrink{
	padding-top: 3px;
	padding-bottom: 3px;
	opacity: 0.9;
}
.fill-screen{
	background-size: cover;
	background-position: center;
	position:relative;
	height: auto;
	min-height: 350px;
}

.fill-screen p{
	font-family: LatoLight;
    font-size: 3em;
    font-weight: lighter;
    line-height: 60px;
    margin: 10px 0 30px;
}
.fill-screen p a{
	color: #fff;
}
#about{
	height: auto;
	background: #fff;
}

.headerline{
	border-bottom: 1px solid #E3B505;
    color: #E3B505;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding:0 5px 12px;
}
.portfolio-body .content-filler:last-child{
	background-color: #fff;
	color: #fff;
}
.skills {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 10px auto;
    color: #2a2a2a;
    border: 6px solid #2a2a2a;
}

.skills-1 {
    border-color: #E55934;
    color: #E55934;
}

.skills-2 {
    border-color: #5BC0EB;
    color: #5BC0EB;
}

.skills-3 {
    border-color: #525174;
    color: #525174;
}

.skills-4 {
    border-color: #E3B505;
    color: #E3B505;
}

.skills-5 {
    border-color: #007EA7;
    color: #007EA7;
}

.skills-6 {
    border-color: #003459;
    color: #003459;
}

.skills-7 {
    border-color: #EA526F;
    color: #EA526F;
}

.skills-8 {
    border-color: #25CED1;
    color: #25CED1;
}

.skills span{
	font-size: 27px;
	font-weight: 600;
	display: block;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}
.down-button{
	margin-top: 100px;
}
.down-button i{
	color: #fff;
}
.btn{
	padding: 10px 30px;
}
.btn-primary {
    background-color: #E3B505;
    border-color: #E3B505;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-color: #E3B505;
    border-color: #E3B505;
    color: #fff;
}
.btn-default {
    background-color: transparent;
    border-color: #E3B505;
    color: #E3B505;
    margin-left: 10px;
}
.btn-default:hover,
.btn-default:focus, 
.btn-default:active, 
.btn-default.active, 
.open > .dropdown-toggle.btn-default{
	background-color: #E3B505;
	color: #fff;
	border-color: #E3B505;
}

.portfolio-body .content-filler:last-child .btn{
	background-color: #fff;
	border: 1px solid #058e6f;
	margin-bottom: 10px;
	margin-top: 5px;
}

#portfolio h3{
	color: #E3B505;
}

#portfolio img{
	max-width: 100%;
}

footer.navbar{
	margin-bottom: 0;
}

footer a,
.info a{
	margin: 2px 7px;
	color: #fff;
}

.info .icon{
	margin: 3px 5px 20px;
}

.btn-attached{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding: 5px 10px;
}

#owl-demo .owl-item div{
  display: block;
  width: 100%;
  height: 300px;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #000;
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  text-align: left;
  padding: 40px 20px;
}

.owl-item h4 {
    color: #E3B505;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0 0 10px 0;
    font-size: 24px;
    text-align: left;
}

.subHeading{
	font-size: 0.9em;
	text-transform: uppercase;
    font-weight: 300;
    color: #afafaf;
    margin: 0 0 15px 0;
}

.owl-item p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    font-weight: 200;
    line-height: 20px;
    margin: 10px 0;
}

.owl-theme .owl-controls .owl-buttons div{
	font-size: 15px;
	opacity: 0.7;
	margin: 10px 5px;
}

#work img{
	max-width: 100%;
	height: 300px;
	margin-top: 10px;
	display: block;
}

.info-overlay{
  position: fixed;
  height: 100%;
  top: 0;
  left: 49%;
  background: #000;
  transform: translateX(-49%);
}

.overlay-hide{
  width: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.overlay-open{
  visibility: visible;
  transition: width 0.5s ease;
  width: 100%;
  z-index: 9999;
}

.btn-close{
  position: relative;
  right: 20px;
  top: 20px;
  z-index: 999;
  pointer: cursor;
  height: 40px;
  width: 40px;
  color: #fff;
  background: #000;
}

.btn-close img{
	width: 100%;
	height: 100%;
	display: inline-block;
}

.btn-close:hover{
  color: #fff;
}

.resume{
	background: #fff;
	width: 90%;
	height: 100%;
	padding: 20px;
	color: #333;
	overflow-y: scroll;
}
.inner-resume{
	width: 80%;
	margin: 0 auto;
	border-bottom: 1px solid #000;
	padding: 20px;
}
.inner-resume>div:first-child h4{
	font-weight: bold;
}
.inner-resume a{
	text-decoration: underline;
	font-size: 18px;
}
.resume .inner-resume:nth-child(3)> div:nth-child(2) .row{
	padding-bottom: 10px;
	border-bottom: 1px solid #000;
}
.resume .inner-resume:nth-child(3)> div:nth-child(2) .row:last-child{
	border-bottom: none;
}
.resume a.btn{
	color: #fff;
	background: #000;
}
.resume a{
	color: #000;
}
.contact-inner{
	width: 80%;
	height: 200px;
	background: #E3B505;
	opacity: 0.9;
	padding: 20px;
	margin: 10px auto;
}
.contact-inner h4{
	font-size: 30px;
    margin-top: 50px;
}
.contact-inner p{
	font-size : 18px;
}
 @media only screen and (min-width:320px) and (max-width : 479px) {

	.fill-screen p{
		font-size: 2.1em;
		line-height: 40px;
	}
	#portfolio img {
    	margin: 0 auto;
	}
	.subHeading{
	font-size: 0.9em;
	text-transform: uppercase;
    font-weight: 300;
    color: #afafaf;
    margin: 0 0 15px 0;
	}
	.owl-item p{
	    font-family: 'Montserrat', sans-serif;
	    font-size: 0.9em;
	    font-weight: 200;
	    line-height: 20px;
	    margin: 10px 0;
	}
	.resume{
		width: 100%;
		padding: 10px;
	}
	.inner-resume{
		padding: 30px 15px;
    	width: 98%;
	}
	.owl-item p{
		font-size: 0.85em;
	}
	footer a, .info a{
		margin: 2px 4px;
	}
	.btn-close{
		top: 0;
		right: 5px;
	}
}
	


