body{
	color: #fff;
	/* height: 1000px; */
}
.navbar{
	border-radius: 0;
	padding: 12px 10px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.navbar img{
	
}
.navbar-inverse .navbar-nav > li > a {
    color: #bbb;
}
.cbp-af-header-shrink{
	padding-top: 3px;
	padding-bottom: 3px;
	opacity: 0.9;
}
.fill-screen{
	background-size: cover;
	background-position: center;
	position:relative;
}
.fill-screen img{
	padding-top: 80px;
	margin-top: 30px;
}
.fill-screen p{
	font-family: LatoLight;
    font-size: 3em;
    font-weight: lighter;
    line-height: 60px;
    margin: 10px 0 30px;
}
.fill-screen p a{
	color: #fff;
}
.content-filler{
	/* min-height: 350px; */
	
}
#about{
	height: auto;
	background: #26A65B;
}
#about .contact-heading{
	border-bottom: 1px solid #2a9858;
}
.portfolio-body .content-filler:last-child{
	background-color: #F9BF3B;
	color: #fff;
}
.skills {
    background: #999 none repeat scroll 0 0;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 10px auto;
    color: #fff;
    opacity: 0.5;
}
.skills-1{
	background: #D35400;
}
.skills-2{
	background: #4183D7;
}
.skills-3{
	background: #F7CA18;
}
.skills-4{
	background: #F27935;
}
.skills-5{
	background: #F64747;
}
.skills-6{
	background: #F2784B;
}
.skills span{
	display: block;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}
.fixed-attachment{
	/* background-attachment: fixed; */
}
.title-row{
	
}
.down-button{
	margin-top: 100px;
}
.down-button i{
	color: #fff;
}
.btn-primary {
    background-color: #fd6ca3;
    border-color: #fd6ca3;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #fd6ca3;
    border-color: #fd6ca3;
    color: #fff;
}
.btn-default {
    background-color: transparent;
    border-color: #fd6ca3;
    color: #fd6ca3;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default{
	background-color: #fd6ca3;
	color: #fff;
	border-color: #fd6ca3;
}
.contact-heading{
	border-bottom: 1px solid #F5AB35;
}
.contact-form h4{
	margin-top: 10px;
	margin-bottom: 20px;
}
/* .contact-form div{
	padding-right: 0;
} */
.contact-input{
	margin-top: 20px;
}
.portfolio-body .content-filler:last-child .btn{
	background-color: #F5AB35;
	border: 1px solid #F5AB35;
	margin-bottom: 10px;
}
footer.navbar{
	margin-bottom: 0;
}

